[submodule "react-backend-django"]
	path = react-backend-django
	url = https://github.com/hoangdinhthien/react-backend-django
[submodule "ts-axios"]
	path = ts-axios
	url = https://github.com/hoangdinhthien/ts-axios
[submodule "ts-axios-cryptocurrencies-"]
	path = ts-axios-cryptocurrencies-
	url = https://github.com/hoangdinhthien/ts-axios-cryptocurrencies-
[submodule "react-graphql"]
	path = react-graphql
	url = https://github.com/hoangdinhthien/react-graphql.git
